.DS_Store
__pycache__/
difftactile.egg-info
lr_*/
*.txt
*.mkv
*.pkl
sandbox.ipynb
*.csv
output/
lightning_logs/
experiment-capture-completed/
*.pt
saved_models/
*.msh
*.ini
*.code-workspace
*.mp4
*.avi
Tac-VGNN/
